* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  text-align: center;
}
.size,
.delete {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  background-color: blue;
  color: white;
  border: 0px;
}

.size {
  margin-left: 44%;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  height: 650px;
  padding: 2px;
  flex-wrap: wrap;
  background-color: black;
}

.square,
.square_color_change {
  flex-grow: 1;
  flex: 1 1 calc(6.25%);
  height: auto;
}

.square {
  background-color: white;
}
