* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  flex-wrap: wrap;
}

.square,
.square_color_change {
  flex: 1 1 calc(6.25%);
  height: 40px;
}

.square {
  background-color: green;
}

.container .square_color_change {
  background-color: aqua;
}
